# -----------------------------------------------------------------------------
# App - Don't add "/" in the end of the url (same in production)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js 5.0.x)
# -----------------------------------------------------------------------------
AUTH_SECRET=abc123
AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_ID=
GITHUB_SECRET=
LinuxDo_CLIENT_ID=
LinuxDo_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Database, example: DATABASE_URL='postgres://[user]:[password]@[hostname]:5432/[dbname]'
# -----------------------------------------------------------------------------
DATABASE_URL='postgres://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require'

# -----------------------------------------------------------------------------
# Email api (https://resend.com) for login and send email
# -----------------------------------------------------------------------------
RESEND_API_KEY=

# Open Signup
NEXT_PUBLIC_OPEN_SIGNUP=1

# Google Analytics
NEXT_PUBLIC_GOOGLE_ID=

# ScreenShot API
SCREENSHOTONE_BASE_URL=https://shot.wr.do

# GitHub api token for getting gitHub stars count
GITHUB_TOKEN=


SKIP_DB_CHECK=false