@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 98%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --blue: 210 100% 50%;

    --chart-1: 198 93% 60%;
    --chart-2: 158deg 64% 52%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --blue: 215 100% 50%;

    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

.text-gradient_indigo-purple {
  background: linear-gradient(90deg, #6366f1 0%, rgb(168 85 247 / 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: hsla(215, 10%, 77%, 0.548);
}

*::-webkit-scrollbar-thumb {
  background: hsla(215, 10%, 77%, 0.548);
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 59%, 0.524);
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, 和 Opera */
}

.grids {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 0
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.04) 1px, transparent 0);
  background-position: 50%;
  background-size: 20px 20px;
}

.grids-dark:is(.dark *) {
  background-image: linear-gradient(
      0deg,
      rgba(100, 100, 100, 0.278) 1px,
      transparent 0
    ),
    linear-gradient(90deg, rgba(100, 100, 100, 0.278) 1px, transparent 0);
  background-position: 50%;
  background-size: 20px 20px;
}

@font-face {
  font-family: "Bahamas Normal";
  /* font-style: normal;
  font-weight: normal; */
  src:
    local("Bahamas Normal"),
    url("/_static/fonts/BAHAMASN.woff") format("woff");
}

@font-face {
  font-family: "Bahamas Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Bahamas Bold"),
    url("/_static/fonts/BAHAMASB.woff") format("woff");
}

.custom-bg {
  background: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
    linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  background-size: 14px 24px;
}
